<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Pièces à conviction
    </ng-template>
    <app-table-pieceofevidence></app-table-pieceofevidence>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Armes
    </ng-template>
    <app-table-weapon></app-table-weapon>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Véhicules
    </ng-template>
    <app-table-vehicule></app-table-vehicule>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Personnes
    </ng-template>
    <app-table-people></app-table-people>
  </mat-tab>
</mat-tab-group>