<!-- titre -->
<mat-toolbar fxLayoutAlign="center">détail d'un véhicule</mat-toolbar>

<section fxLayout='row' fxLayout.xs='column'>
  <div fxFlex='70'>
    <mat-card>
      <div fxLayout='row' fxLayout.xs='column'>
        <!-- détails du véhicule -->
        <article fxFlex='40'>
          <h1>VEHICULE</h1>
          <h6>dernière mise à jour le {{vehicule?.updateDate | date: 'dd-MM-yyyy'}}</h6>
          <p>Marque : <b>{{vehicule?.marque}}</b></p>
          <p>Modèle : <b>{{vehicule?.model}}</b></p>
          <p>Couleur : <b>{{vehicule?.color}}</b></p>
          <p>Plaque d'immatriculation : <b>{{vehicule?.licensePlate}}</b></p>
          <p>Date de création : <b>{{vehicule?.createDate| date: 'dd-MM-yyyy'}}</b></p>   
        </article>
        <mat-card fxFlex='60' fxLayoutAlign="center center">PHOTO</mat-card>
      </div>
     <!-- <h3 [ngStyle.xs]='title'>Affaire associées</h3>
       <app-affaire-vehicule></app-affaire-vehicule> -->
    </mat-card>
    <div  fxLayout="row" fxLayoutAlign="end">
      <!-- options -->
      <button mat-raised-button color="accent" routerLink="edit">Editer</button>
      <button mat-raised-button (click)="backToList()" color="accent">Retour</button>
    </div>
  </div>
  <!-- édition des informations du véhicule -->
  <div fxFlex='30'>
    <router-outlet></router-outlet>
  </div>
</section>
